.comicPage img {
  /* width: 900px;
  max-width: 98%; */
}

.thumbnail {
  @apply object-cover mr-5;
  @apply md:w-40;
}
.round {
  border-radius: 15px 15px;
}
.slider.awssld {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 200ms;
  --organic-arrow-thickness: 3px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 21px;
  --organic-arrow-color: #b7b7b7;
  --control-button-width: 6%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #adb9c1;
  --control-bullet-active-color: #47a7e2;
  --loader-bar-color: transparent;
  --loader-bar-height: 1px;
  height: 500px;
  @apply flex flex-col;
}
.slider.awssld .awssld__bullets {
  @apply static;
}
.slider .awssld__bullets button {
  @apply w-3 h-3;
}
.slider .awssld__bullets .awssld__bullets--active {
  transform: none !important;
}
.slider .awssld__content {
  background-color: transparent;
}

.slider .awssld__content > img,
.slider .awssld__content > video {
  @apply p-8;
}

@media (min-width: 1024px) {
  .slider.awssld {
    width: 510px;
    height: 600px;
  }
}
