/* header image */
header {
  @apply flex flex-wrap justify-around md:justify-center;
  @apply w-full;
  background-image: url('../public/img/nav/header_bg_.svg');
  border-bottom: solid #355686;
  @apply bg-cover;
}

header .logo {
  @apply lg:w-96 my-4;
  @apply max-w-full;
}

/* HEADER */

header #nav,
#search {
  @apply flex flex-wrap justify-center items-center;
  @apply text-xl;
  @apply my-auto mx-4;
  /* @apply outline-black outline; */
  width: 98%;
  outline-width: 3px;
  background-color: #ddedf7;
  border-radius: 40px;
}

header #nav {
  @apply mb-4;
}

#search {
  @apply m-4 py-4 pb-8;
  @apply bg-transparent;
}

#search form {
  @apply flex justify-between items-end;
  @apply relative;
  @apply w-full;
}

#search input[type='text'] {
  @apply w-full;
  /* @apply border-b border-black ; */
  @apply px-5 py-3;
  background-color: #ddedf7;
  border-bottom-width: 3px;
  border-radius: 40px;
}

#search input[type='text']:focus {
  @apply outline-none;
  @apply border-b border-black  px-5 py-3;
  border-bottom-width: 3px;
  background-color: #ddedf7;
}

#search input[type='submit'] {
  height: 50px;
  background-image: url('../public/img/icons/icons_search.svg');
  @apply bg-no-repeat bg-center text-transparent;
  @apply absolute;
  @apply cursor-pointer;
  right: 0.15rem;
  top: 0.15rem;
  background-size: 2.75rem;
}

header #nav img {
  @apply lg:w-28;
}

header #nav img:hover,
.animate-wiggle:hover,
.animate-wiggle:active {
  animation-duration: 666ms; /** 🤘🤘 **/
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-name: wiggle;
}

header #nav a {
  @apply my-0 mx-4;
}
/* COMIC Navigation Icons */

.comicNav {
  @apply flex items-center;
  @apply mx-auto my-3;
}

.comicNav img {
  /* 12rem */
  @apply px-4 lg:w-48;
  @apply cursor-pointer;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  width: 0;
  justify-content: space-around;
}

.mobileNav.toggle {
  width: 100;
  height: 300px;
}

.mobileNav.toggle a {
  display: flex;
  justify-content: space-around;
  /* @apply mx-4 my-4; */
}
