/* header image */
header {
  @apply flex flex-wrap justify-between md:justify-center;
  @apply w-full;
}

header .logo {
  @apply lg:w-96 my-4;
  @apply max-w-full;
}

/* HEADER */

header #nav,
#search {
  @apply flex flex-wrap justify-center items-center;
  @apply bg-white;
  @apply text-xl;
  @apply m-auto;
  @apply outline-black outline;
  width: 98%;
  outline-width: 3px;
}

#search {
  @apply mt-4 p-4;
}

#search form {
  @apply flex justify-between items-end;
  @apply w-full;
}

#search input[type='text'] {
  @apply w-full;
  @apply border-b border-black mx-8;
  border-bottom-width: 3px;
  padding: 12px 20px;
}

#search input[type='text']:focus {
  @apply outline-none;
  @apply border-b border-red-700;
  border-bottom-width: 3px;
  padding: 12px 20px;
}

#search input[type='submit'] {
  background-image: url('../public/img/icons/icons_search.svg');
  background-repeat: no-repeat;
  color: transparent;
  height: 50px;
}

header #nav img {
  @apply lg:w-28;
}

header #nav img:hover,
.animate-wiggle:hover {
  animation-duration: 666ms; /** 🤘🤘 **/
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-name: wiggle;
}

header #nav a {
  @apply my-0 mx-4;
}

header #nav a:hover {
  @apply text-red-500;
}

/* COMIC Navigation Icons */

.comicNav {
  @apply flex items-center;
  @apply mx-auto my-3;
}

.comicNav img {
  @apply px-4 lg:w-28;
  @apply cursor-pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
